<h1>Work</h1>


<h2 style="color: gray !important">Uzeke Digital</h2>

<h3>Position: Intern</h3>
<h3>Duration: 6 Months</h3>
<h3>Work: Wordpress sites and customer service</h3>
<h3><a href="http://uzekedigital.com/wordpress/" target="blank style=" style="color:turquoise !important">Website</a></h3>

&nbsp;

<h2 style="color: gray !important">Spire Media</h2>
<h3>Position: Intern</h3>
<h3>Duration: 4 Months</h3>
<h3>Work: QA and feature development(Angular.js and Asp.Net)</h3>
<h3>on professional software</h3>
<a href="http://www.spiremedia.com/" target="blank" style="color: turquoise !important"><h3>Website</h3></a>

&nbsp; &nbsp;


