<h1>Work</h1>


<h2 style="color: gray !important">Uzeke Digital</h2>

<p>Position: Intern</p>
<p>Duration: 6 Months</p>
<p>Work: Wordpress sites and customer service</p>
<p><a href="http://uzekedigital.com/wordpress/" target="blank style=" style="color:turquoise !important">Website</a></p>

&nbsp;

<h2 style="color: gray !important">Spire Media</h2>
<p>Position: Intern<p>
<p>Duration: 4 Months<p>
<p>Work: QA and feature development(Angular.js and Asp.Net)<p>
<p>on professional software<p>
<a href="http://www.spiremedia.com/" target="blank" style="color: turquoise !important"><p>Website<p></a>

&nbsp; &nbsp;


