@{
    ViewBag.Title = "BlackJack";
}

<body>
   &nbsp; &nbsp; &nbsp; &nbsp;
<div class="battleshipContainer">
<h2>Poker Coming Soon!</h2>
<div class="button"><a href="@Url.Action("Index", "Work")">Back</a></div>
    <div class="button"><a href="https://github.com/MFisher1/MattsWeek1Solutions/raw/master/Combat%20Simulator/Combat%20Simulator/bin/Debug/Combat%20Simulator.exe">Download</a></div>
<div class="carousel1">
<img class="slideImg active" height="400px" width="600px" src="../../Content/Pictures/" alt="img1"  />
<img class="slideImg hide" height="400px" width="600px" src="../../Content/Pictures/" alt="img2"  />
<img class="slideImg hide" height="400px" width="600px"  src="../../Content/Pictures/"" alt="img3"  />
    </div>

<div class="divider"></div>

<h3>Features</h3>
<ul>
    <li>Coming Soon</li>

</ul>

<div class="workDivider"></div>

<h3>What it took</h3>
<p>Coming Soon
</p>
    </div>
    </body>