@{
    ViewBag.Title = "Index";
}
<body>
    &nbsp; &nbsp; &nbsp; &nbsp;
<h2>Work</h2>

<div class="workBackground">

<div class="workContainer" align:"center"> 
 <div class="bsTitle"><span><strong><font size="6px">BattleShip</font></strong></span></div>
<div class="csTitle"><span><strong><font size="6px">Combat Simulator</font></strong></span></div> 

<a href="@Url.Action("battleship","work")">
    <div class="workCarousel1">
<div class="workImg1 active"> <img height="400px" width="600px" src="../../Content/Pictures/battleshiphome.png" alt="img1"  /></div>
<div class="workImg1 hide" > <img height="400px" width="600px" src="../../Content/Pictures/battleshippic1.png" alt="img2"  /></div>
<div class="workImg1 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleshippic3.png"" alt="img3"  /></div>
        <div class="workImg1 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleship4.png"" alt="img3"  /></div>
    </div>
    </a>
        
<a href="@Url.Action("combatSimulator","work")">
<div class="workCarousel2">
<div class="workImg2 active"> <img height="400px" width="600px" src="../../Content/Pictures/combatSimPic1.png" alt="img1"  /></div>
<div class="workImg2 hide" > <img height="400px" width="600px" src="../../Content/Pictures/combatSimPic2.png" alt="img2"  /></div>
<div class="workImg2 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/combatSimPic3.png"" alt="img3"  /></div>
</div>
    </a>

<div class="button workPrev1"><span align="center"><strong>Previous</strong></span></div>
<div class="button workNext1"><span align="center"><strong>Next</strong></span></div>

<div class="button workPrev2"><span align="center"><strong>Previous</strong></span></div>
<div class="button workNext2"><span align="center"><strong>Next</strong></span></div>
    
    <div class="workDivider"></div>

<div class="pkTitle"><span><strong><font size="6px">Poker</font></strong></span></div>
<div class="hmTitle"><span><strong><font size="6px">Hangman</font></strong></span></div>

<a href="@Url.Action("blackjack","work")">
    <div class="workCarousel3">
<div class="workImg3 active"> <img height="400px" width="600px" src="../../Content/Pictures/battleshiphome.png" alt="img1"  /></div>
<div class="workImg3 hide" > <img height="400px" width="600px" src="../../Content/Pictures/battleshippic1.png" alt="img2"  /></div>
<div class="workImg3 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleshippic3.png"" alt="img3"  /></div>
<div class="workImg3 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleship4.png"" alt="img3"  /></div>
    </div>
    </a>
        
<a href="@Url.Action("hangman","work")">
<div class="workCarousel4">
<div class="workImg4 active"> <img height="400px" width="600px" src="../../Content/Pictures/battleshiphome.png" alt="img1"  /></div>
<div class="workImg4 hide" > <img height="400px" width="600px" src="../../Content/Pictures/battleshippic1.png" alt="img2"  /></div>
<div class="workImg4 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleshippic3.png"" alt="img3"  /></div>
<div class="workImg1 hide" > <img height="400px" width="600px"  src="../../Content/Pictures/battleship4.png"" alt="img3"  /></div>
    </div>
    </a>

<div class="button workPrev3"><span align="center"><strong>Previous</strong></span></div>
<div class="button workNext3"><span align="center"><strong>Next</strong></span></div>

<div class="button workPrev4"><span align="center"><strong>Previous</strong></span></div>
<div class="button workNext4"><span align="center"><strong>Next</strong></span></div>

    </div>
</body>